{% extends 'base.html.twig' %}

{% block main %}
    <main class="flex-shrink-0 pt-5">
        <div class="container">

            <form method="post" action="/?controller=project&action=save&id={{ project.id }}">
                <div class="mb-3">
                    <label class="form-label" for="title">Cím</label>
                    <input class="form-control" id="title" name="title" type="text" value="{{ project.title }}" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Leírás</label>
                    <textarea class="form-control" name="description" id="description">{{ project.description }}</textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="status">Státusz</label>
                    <select class="form-select" id="status" name="status" aria-label="Státusz" required>
                        <option value="">- Válasszon! -</option>
                        {% for key, status in statuses %}
                            <option value="{{ key }}"  {% if key==project.status.id %}selected{% endif %}>{{ status }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col-sm-12">
                        <h4>Kapcsolattartó</h4>
                    </div>
                    <div class="col-sm-6">
                        <h5>Választás a meglévőek közül</h5>
                        <div class="mb-3">
                            <label class="form-label required" for="owner">Kapcsolattartó neve és e-mail címe</label>

                            <select class="form-select" id="owner" name="owner" aria-label="Kapcsolattartó" required>
                                <option value="">- Válasszon! -</option>
                                {% for key, owner in owners %}
                                    <option value="{{ key }}"  {% if key==project.owner.id %}selected{% endif %}>{{ owner }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-lg btn-success mt-5" data-toggle="modal" data-target="#addNewOwnerModal" onclick="$('#addNewOwnerModal').modal('show');">
                            &plus; Új kapcsolattartó hozzáadása
                        </button>
                    </div>
                </div>


                <div class="">
                    <button class="btn btn-primary" id="submitButton" type="submit">Mentés</button>
                </div>
            </form>


        </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="addNewOwnerModal" tabindex="-1" role="dialog" aria-labelledby="addNewOwnerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewOwnerModalLabel">Új kapcsolattartó hozzáadása</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/?controller=owner&action=save&id=0">
                        <div class="mb-3">
                            <label class="form-label" for="ownerName">Név</label>
                            <input class="form-control" id="ownerName" name="ownerName" type="text" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="ownerEmail">E-mail</label>
                            <input class="form-control" id="ownerEmail" name="ownerEmail" type="email" />
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Mentés</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
