{% extends 'base.html.twig' %}

{% block main %}
<main class="flex-shrink-0 pt-5">
	<div class="container">

		<div class="list-group">
			{% for project in projects %}
				<a href="/?controller=project&action=edit&id={{ project['id'] }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
					<div class="d-flex gap-2 w-100 justify-content-between">
						<div>
							<h5 class="mb-3">{{ project['title'] }}</h5>
							<p class="mb-0 opacity-75">
								{{ project['name'] }}
								({{ project['email'] }})
							</p>
							<p class="pt-3">
								<button onclick="editProject({{ project['id'] }});" class="btn btn-primary">Szerkesztés</button>
								<button onclick="deleteProject({{ project['id'] }});" class="btn btn-danger">Törlés</button>
							</p>
						</div>
						<small class="opacity-50 text-nowrap">{{ statuses[project['status_id']] }}</small>
					</div>
				</a>
			{% endfor %}
		</div>

	</div>
</main>
{% endblock %}
