{% extends 'base.html.twig' %}

{% block main %}
<main class="flex-shrink-0 pt-5">
	<div class="container">
		<div class="row mb-4">
			<div class="col-12">
				<a href="/?controller=project&action=new&id=0" class="btn btn-success float-end">&plus; Új projekt létrehozása</a>
			</div>
		</div>
		<div class="list-group">
			{% for project in projects %}
				<div id="box{{ project.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
					<div class="d-flex gap-2 w-100 justify-content-between">
						<div>
							<h5 class="mb-3">{{ project['title'] }}</h5>
							<p class="mb-0 opacity-75">
								{{ project['name'] }}
								({{ project['email'] }})
							</p>
							<p class="pt-3">
								<a href="/?controller=project&action=edit&id={{ project['id'] }}" class="btn btn-primary">Szerkesztés</a>
								<button onclick="deleteProject({{ project['id'] }});" class="btn btn-danger">Törlés</button>
							</p>
						</div>
						<small class="opacity-50 text-nowrap">{{ statuses[project['status_id']] }}</small>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
</main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		function ajax(url, id)
		{
			$.ajax({
				method: "POST",
				url: url,
				data: { id: id }
			})
					.done(function(response) {
						alert(response);
						jQuery("#box"+id).remove();
					});
		}
		function deleteProject(id)
		{
			ajax("/?controller=project&action=delete", id);
		}
		function editProject(id)
		{
			ajax("/?controller=project&action=edit", id);
		}
	</script>
{% endblock %}
